ADI/TestConsumerAs2/TestConsumerAs2/Connected Services/BlogServiceReference/BlogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BlogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61644/BlogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61644/BlogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61644/BlogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceAssigment2.Models.DataModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBlogService_GetBlogList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogList" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogListResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_AddBlog_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBlog" />
  </wsdl:message>
  <wsdl:message name="IBlogService_AddBlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBlogResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogById" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_UpdateBlog_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBlog" />
  </wsdl:message>
  <wsdl:message name="IBlogService_UpdateBlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBlogResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_DeleteBlog_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBlog" />
  </wsdl:message>
  <wsdl:message name="IBlogService_DeleteBlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBlogResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogByTypeId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogByTypeId" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogByTypeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogByTypeIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogListConsumer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogListConsumer" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogListConsumer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogListConsumerResponse" />
  </wsdl:message>
  <wsdl:portType name="IBlogService">
    <wsdl:operation name="GetBlogList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/GetBlogList" message="tns:IBlogService_GetBlogList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/GetBlogListResponse" message="tns:IBlogService_GetBlogList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/AddBlog" message="tns:IBlogService_AddBlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/AddBlogResponse" message="tns:IBlogService_AddBlog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/GetBlogById" message="tns:IBlogService_GetBlogById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/GetBlogByIdResponse" message="tns:IBlogService_GetBlogById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/UpdateBlog" message="tns:IBlogService_UpdateBlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/UpdateBlogResponse" message="tns:IBlogService_UpdateBlog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/DeleteBlog" message="tns:IBlogService_DeleteBlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/DeleteBlogResponse" message="tns:IBlogService_DeleteBlog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogByTypeId">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/GetBlogByTypeId" message="tns:IBlogService_GetBlogByTypeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/GetBlogByTypeIdResponse" message="tns:IBlogService_GetBlogByTypeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogListConsumer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/GetBlogListConsumer" message="tns:IBlogService_GetBlogListConsumer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/GetBlogListConsumerResponse" message="tns:IBlogService_GetBlogListConsumer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBlogService" type="tns:IBlogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBlogList">
      <soap:operation soapAction="http://tempuri.org/IBlogService/GetBlogList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBlog">
      <soap:operation soapAction="http://tempuri.org/IBlogService/AddBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogById">
      <soap:operation soapAction="http://tempuri.org/IBlogService/GetBlogById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBlog">
      <soap:operation soapAction="http://tempuri.org/IBlogService/UpdateBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBlog">
      <soap:operation soapAction="http://tempuri.org/IBlogService/DeleteBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogByTypeId">
      <soap:operation soapAction="http://tempuri.org/IBlogService/GetBlogByTypeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogListConsumer">
      <soap:operation soapAction="http://tempuri.org/IBlogService/GetBlogListConsumer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlogService">
    <wsdl:port name="BasicHttpBinding_IBlogService" binding="tns:BasicHttpBinding_IBlogService">
      <soap:address location="http://localhost:61644/BlogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>