ADI/TestConsumerAs2/TestConsumerAs2/Connected Services/BlogServiceReference/BlogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServiceAssigment2.Models.DataModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServiceAssigment2.Models.DataModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBlog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Blog" nillable="true" type="tns:Blog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlog" nillable="true" type="tns:ArrayOfBlog" />
  <xs:complexType name="Blog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentShort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeBlogID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="views" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Blog" nillable="true" type="tns:Blog" />
</xs:schema>